<%= stylesheet_link_tag 'login.css' %>

<p id="notice"><%= notice %></p>

<div class="bagmon-container">
  <div class="bagmon-description">
    <h1>Bagmons</h1>
  </div>

  <div id="bagmon-shelf">
    <% @bagmons.each do |bagmon| %>
        <div id="bagmon-name">
          <h2><%= bagmon.name %></h2>
          <div id="bagmon-image">
            <%= link_to (image_tag(bagmon.image, alt: 'fun', style: 'height:300px; width:auto;')), bagmon %><%=  %>
          </div>
        </div>
      </a>
    <% end %>
  </div>

</div>
<br>