<%= stylesheet_link_tag 'bagmon-detail.css' %>

<p id="notice"><%= notice %></p>

<body style='background-color: <%=@bagmon.type.color %>; '>
  <div id="arrow-back"><%= link_to 'â†', bagmons_path %></div>

  <div id="display-bag-detail">
    <div>
      <h1><%= @bagmon.name.upcase %> #<%= @bagmon.number%></h1>
      <p>BAGMON DO TIPO <%= @bagmon.type.name.upcase%></p>
      <p id="bag-detail-image"><%= image_tag @bagmon.image, alt: 'fun', style: 'height:400px; width:auto;'%></p>
    </div>
  </div>
</body>